/* Css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body {
    font-family: 'Rubik Mono One', sans-serif;
}


.display {
    height: 100vh;
    position: relative;
}

/* Utilities */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.green {
    color: #008000;
}

.yellow {
    color: yellow;
}

.bg-green {
    background-color: green;
}

.bg-yellow {
    background-color: yellow;
}

.bg-red {
    background-color: red;
}


.display .content {
    max-width: 700px;
}


h1 {
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}

.content img {
    display: inline-block;
    max-width: 100%;
}